<header >
  <h1 id="headerTopic" class="text-center text-gray-600">Contract details forum</h1>
  <app-contract-input></app-contract-input>
</header>

<main>
  <h1 id="mainTopic" class="text-gray-600">Current Valid Contract List</h1>
  <div class="flex space-x-24 align-items-center bg-gray-500 text-white">
    <h1 class="p-1">Contract Id</h1>
    <h1 class="p-1">Hotel Id</h1>
    <h1 class="p-1">Creating date</h1>
    <h1 class="p-1">Ending date</h1>
    <h1 class="p-1">Markup value</h1>
    <h1 class="p-1">Options</h1>
  </div>
  <app-contract></app-contract>
  <app-contract></app-contract>

</main>



