<form class="contract-input-form" ngForm (ngSubmit)="doSomething(contractId, markupValue, startingDate, endingDate)" >

  <div class="flex item-center gap-4 cursor-pointer">
    <mat-form-field class="contract-input-field" appearance="fill">
      <mat-label>Contract Id</mat-label>
      <input matInput placeholder="CON001" #contractId>
    </mat-form-field>

    <!--<mat-form-field class="contract-input-field" appearance="fill">
      <mat-label>Makeup Value</mat-label>
      <textarea matInput placeholder="Ex. 25%"></textarea>
    </mat-form-field>-->

    <mat-form-field class="contract-input-field" appearance="fill">
      <mat-label>Makeup Value</mat-label>
      <input matInput placeholder="Ex. 25%" #markupValue>
    </mat-form-field>
  </div>


  <div class="flex justify-between ">

    <div class="flex  gap-4">
      <mat-form-field color="accent" appearance="fill">
        <mat-label>Contract Starting Date</mat-label>
        <input matInput [matDatepicker]="startingDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="startingDate"></mat-datepicker-toggle>
        <mat-datepicker #startingDate></mat-datepicker>
      </mat-form-field>

      <mat-form-field color="accent" appearance="fill">
        <mat-label>Contract Ending Date</mat-label>
        <input matInput [matDatepicker]="endingDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="endingDate"></mat-datepicker-toggle>
        <mat-datepicker #endingDate color="primary"></mat-datepicker>
      </mat-form-field>
    </div>

    <div id="button-section">
      <button type="submit"  class="text-lg" mat-raised-button color="primary">Add Contract</button>
    </div>

  </div>

</form>







